<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6"><%= env_rails %></h1>
    <p class="lead"><%= t("language") %> | <%= l(DateTime.now) %></p>
  </div>
</div>
<%= render "menu"%>
<script type="text/javascript">
  $.notify("Hello Box");
</script>
