<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>A soma de 1 + 1 Utilizando a interpolação de código ruby é = <%= 1+1 %></p>
<p>A exibição da data utilizando a interpolaçao do ruby. <%= Date.today %></p>
<p>Utilizando o helper <%= data_br(Date.today) %></p>
<p><%= link_to 'Cadastrar Moedas', coins_path %></p>
